/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(54, 55, 66);
  line-height: 1.5;
  overflow-x: hidden;
}

.header {
  background-color: rgb(0, 19, 39);
  color: white;
  padding: 20px 0px;
  font-size: 14px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 3px;
}

.btn-primary {
  background-color: rgb(236, 117, 122);
}

.btn-secondary {
  color: rgb(236, 117, 122);
  border: 2px solid rgb(236, 117, 122);
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.padding {
  padding: 80px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  padding: 15px 0px;
}

.text-center {
  text-align: center;
}
/* header */

.header nav li {
  margin-left: 20px;
}

.header .loc {
  margin-right: 40px;
}

.header .loc i,
.header .info i {
  margin-right: 5px;
}

/* Brand header */

.brand {
  padding: 30px 0px;
}

.brand-nav a {
  text-decoration: none;
  margin-left: 30px;
  color: rgb(21, 54, 86);
  font-weight: 600;
  font-size: 14px;
}

.brand-nav .btn-primary {
  color: white;
  margin-left: 60px;
}

/* hero */

.hero {
  background-image: url("assets/hero/h1_hero.jpg");
  height: 700px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.hero-section {
  padding-bottom: 50px;
}

.hero p {
  color: rgb(236, 117, 122);
  font-size: 20px;
  padding-bottom: 10px;
}

.hero h1 {
  color: rgb(21, 54, 86);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
}

.hero a {
  margin: 20px 0px;
  display: inline-block;
  font-weight: 500;
}

/* team */

.team {
  background-color: rgb(246, 249, 254);
}

.col-1-3 {
  width: 30%;
}

.col-1-3 h3 {
  font-weight: 600;
}

.col-1-3 img {
  width: 100%;
  flex: 0 1 30%;
}

.profile-card {
  border: 2px solid rgb(236, 117, 122);
  padding: 10px 15px;
  box-sizing: border-box;
}

.profile-card hr {
  border-top: 2px solid rgb(236, 117, 122);
  width: 60px;
  margin-left: 0;
  margin: 20px 0px;
  margin-top: 0px;
}

.profile-card a {
  color: rgb(21, 54, 86);
  font-weight: 600;
  display: inline-block;
  padding: 20px 0px;
}

.team .flex {
  align-items: stretch;
}

/* client */

.client-section {
  position: relative;
}

.client-section img {
  height: 500px;
}

.client-text {
  position: absolute;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 30px;
  width: 70%;
  right: -350px;
  top: 150px;
}

.client-text a {
  display: inline-block;
  margin: 20px 0px;
}

/* Services */

.services-section h2 {
  font-size: 32px;
}

.services-section i {
  font-size: 34px;
}

.services-section .col-1-3 {
  background-color: rgb(252, 253, 255);
  padding: 40px 0px;
}

.services-section .padding {
  padding: 30px 0px;
}

.services-section a {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 100px;
  display: inline-block;
}

/* Cases */

.cases {
  background-color: rgb(248, 250, 254);
}

.cases .flex {
  display: flex;
  align-items: center;
  height: 700px;
}

.cases-text {
  width: 50%;
  position: relative;
}

.cases a {
  display: inline-block;
  font-weight: 600;
  margin: 30px 0px;
  padding: 10px 30px;
}

.cases-img {
  position: absolute;
  right: -290px;
}

.cases-img img {
  display: inline;
  height: 400px;
  margin-right: 10px;
}

/* Testimony */

.col-2-1 {
  width: 30%;
  color: rgb(21, 54, 86, 0.4);
}

.col-2-2 {
  width: 40%;
}

.testimony {
  padding: 130px 0px;
  padding-bottom: 60px;
}

.fa-star {
  color: rgb(251, 184, 30);
}

.testimony-text {
  padding: 30px 0px;
}

blockquote {
  font-weight: 600;
  display: inline-block;
}

.quote {
  padding: 20px 0px;
}

/* recent */

.recent-section h2 {
  font-size: 32px;
  text-align: center;
}

.recent-section .padding {
  padding: 40px 0px;
}

.recent-text {
  padding-left: 20px;
  background-color: rgb(252, 253, 255);
}

.caption {
  color: rgb(236, 117, 122);
  padding: 5px 0px;
}

.date {
  color: rgb(182, 195, 209);
}

/* callback */

.callback {
  background-color: rgb(1, 45, 91);
  color: white;
  height: 300px;
}

.callback-section {
  padding: 60px 0px;
}

.col-1-2 {
  width: 30%;
}

.col-1-2 h3 {
  font-size: 30px;
  font-weight: 700;
}

.col-2-3 {
  width: 60%;
  padding-left: 200px;
}

.col-2-3 input,
select {
  width: 230px;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(1, 45, 91);
  box-shadow: none;
  border: 2px solid rgb(41, 86, 132);
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 5px 10px;
  color: white;
  box-sizing: border-box;
}

.col-2-3 input::placeholder {
  color: white;
}

.col-2-3 select {
  width: 290px;
  color: rgb(124, 149, 174);
  margin-right: 20px;
}

.col-2-3 .btn {
  padding: 10px 66px;
  display: inline-block;
}

/* footer */

footer {
  background-color: rgb(248, 250, 254);
  color: rgb(147, 152, 163);
}

footer p {
  color: rgb(21, 54, 86);
  font-weight: 700;
  font-size: 16px;
}

footer li {
  padding: 7px 0px;
}

footer .flex {
  align-items: flex-start;
}

.col-1-4 {
  width: 20%;
}

.col-1-4 p {
  padding: 20px 0px;
  color: rgb(147, 152, 163);
  font-weight: 400;
  font-size: 14px;
}

.col-1-4 li {
  display: inline;
  margin-right: 5px;
  font-size: 16px;
  color: rgb(21, 54, 86);
}

.col-4-4 {
  padding-right: 60px;
}
